
<main>


<h1 class="text-center  text-danger ">Pokemons.</h1>

 <form method="POST" action="/index">
        <div class="mb-3">
          <label for="nombre" class="form-label"><h2 style="font-size: large;">Ingrese el nombre del pokemon que desea buscar:</h2></label>
          <br>
          <input type="text" class="form-control-sm" id="nombre" name="Nombre" value="" />

  <button class=" btn btn-info d-inline-flex mx-2 " type="submit">Buscar</button>

        </div>

 </form>

 



<div class="main-container">


<div class="row">


 {{#if hasPokemon}}

        {{#each pokemon as |poke|}}

<div class="col-md-4 mt-4">

   <div class="card  bg-dark text-light">
    <img src="{{poke.imagen}}" style="width: 100%; height:300px; object-fit:contain;"  class="card-img-top" alt="{{poke.nombre}}">
    <div class="card-body">
        <h5 class="card-text text-info">Nombre: {{poke.nombre}}</h5>
        <p class="card-text">Region: {{poke.region.dataValues.nombre}}</p>
        <p class="card-text "> {{poke.type.dataValues.nombre}}. {{poke.typesec.dataValues.nombre}}</p>
        
          
    </div>


</div>

</div>

  {{/each}}

      {{else}}
        <h1>no hay Pokemons creados</h1>

      {{/if}}

</div>

</div>

</div>

</main>